.homepage-container{
  
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "search search"
                       "jobCards status"
                       "jobCards addButton";
  height: 85dvh;
}

.jobCards-container{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  overflow: auto;
  scrollbar-width: none;
  padding: 10px;
  grid-area: jobCards;
}

.status-container{
  grid-area: status;
  
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}


.add-container{
  grid-area: addButton;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-link-icon{
  color: black;
  font-size: 3em;
  transition: font-size 0.3s ease;
  
}
.add-link-icon:hover{
  font-size: 4em;
}



@media (max-width: 768px) {
  .homepage-container{
    gap: 15px;
    grid-template-columns: 1fr;
    grid-template-areas: "search"
                         "status"
                         "jobCards"
                         "addButton";
  }
  
}

@media (max-width: 480px) {
  .add-link-icon{
    font-size: 2.2em;
  }
}