.filter-bar{
  grid-area: search;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  flex-wrap: wrap;
  

  padding: 4px 0px;
  border-radius: 10px;
  width: 100%;
  max-width: 560px;
  height: auto;
  box-sizing: border-box;
  margin: 0px auto;

  
}

.filter-bar input,.filter-bar select{
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-family: 'Bungee',Arial, Helvetica, sans-serif;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
  .filter-bar{
    justify-content: stretch;
    padding: 7px;
    
  }
  .filter-bar input,.filter-bar select{
  width: 100%;
  }

}